<div class="login">
  <div class="lg:flex half">
    <div
      class="bg order-1 md:order-2 auth"
      style="background-image: url('assets/img/bg.jpg')"
    >
      <img class="card-img" src="assets/img/logo.png" />
    </div>
    <div class="content order-2 md:order-1">
      <div class="container">
        <div class="row items-center justify-center">
          <div class="col-md-7 mt-auto">
            <h3>
              <strong>Tor Kullanıcı Çözümleri ~ Personel Yönetimi</strong>
            </h3>
            <p class="mb-4">
              Personellerinizi Yönetin, Kontrolü Sağlayın, Şirketinize
              <strong>Güç Katın.</strong>
            </p>
            <dx-validation-group #validator>
              <form (submit)="onLogin($event)">
                <div class="form-group first">
                  <label for="username">E-Posta</label>
                  <dx-text-box
                    [elementAttr]="{ class: 'form-control' }"
                    placeholder="E-posta adresinizi giriniz."
                    [(value)]="formData.input"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="email"
                        message="Geçerli bir mail adresi giriniz."
                      ></dxi-validation-rule>
                      <dxi-validation-rule
                        type="required"
                        message="Lütfen mail adresinizi giriniz."
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Şifre</label>
                  <dx-text-box
                    [elementAttr]="{ class: 'form-control' }"
                    placeholder="Şifrenizi giriniz."
                    mode="password"
                    [(value)]="formData.password"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        message="Lütfen şifrenizi giriniz."
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>

                <div class="flex justify-center">
                  <dx-button
                    text="Giriş"
                    icon="fa-solid fa-right-to-bracket"
                    type="default"
                    [useSubmitBehavior]="true"
                  ></dx-button>
                </div>
              </form>
            </dx-validation-group>
          </div>
          <div class="row icon-group">
            <div class="col-3 flex justify-end"></div>
            <div class="col-2 flex justify-end">
              <a
                href="https://torholding.com.tr/tr/anasayfa/"
                target="_blank"
                title="Tor Holding • Web"
              >
                <i class="fa-solid fa-earth-europe web"></i>
              </a>
            </div>
            <div class="col-2 flex justify-center">
              <a
                href="https://www.facebook.com/torholdingg"
                target="_blank"
                title="Tor Holding • Facebook"
              >
                <i class="fa-brands fa-facebook face"></i>
              </a>
            </div>
            <div class="col-2 flex justify-start">
              <a
                href="https://www.instagram.com/tor.holding/"
                target="_blank"
                title="Tor Holding • Instagram"
              >
                <i class="fa-brands fa-instagram insta"></i>
              </a>
            </div>
            <div class="col-3 flex justify-start"></div>
          </div>
          <div class="row">
            <div class="col-12 flex justify-start">
              <p>
                {{ year | date : "yyyy" }} © Tor Kullanıcı Çözümleri bir
                <a
                  href="https://torholding.com.tr/tr/anasayfa/"
                  style="text-decoration: none"
                  ><strong>Tor Holding</strong></a
                >
                ürünüdür. Tüm hakları saklıdır.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
