<div class="grid grid-cols-12 gap-9">
  <div class="col-span-12 md:col-span-3 xl:col-span-3 lg:col-span-3">
    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-center select-none text-gray-900"
      >
        Toplam Kullanıcı Sayısı
      </h5>
      <p class="font-normal text-4xl text-gray-700 select-none text-center">
        {{ t_user }}
      </p>
    </div>
  </div>
  <div class="col-span-12 md:col-span-3 xl:col-span-3 lg:col-span-3">
    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-center select-none text-gray-900"
      >
        Toplam Oturum Sayısı
      </h5>
      <p class="font-normal text-4xl text-gray-700 select-none text-center">
        {{ t_logged }}
      </p>
    </div>
  </div>
  <div class="col-span-12 md:col-span-3 xl:col-span-3 lg:col-span-3">
    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-center select-none text-gray-900"
      >
        Sizin Oturum Sayınız
      </h5>
      <p class="font-normal text-4xl text-gray-700 select-none text-center">
        {{ t_self }}
      </p>
    </div>
  </div>
</div>
